<!DOCTYPE html>
<html>
<head>
    <title>Générateur de Mot de Passe</title>
</head>
<body>
    <h1>Générateur de Mot de Passe</h1>
    <form action="/generate-password" method="post">
        <label for="password_length">Longueur du Mot de Passe (obligatoire):</label>
        <input type="number" id="password_length" name="password_length" required>
        <br>
        <label for="include_numbers">Inclure des Chiffres (optionnel):</label>
        <input type="checkbox" id="include_numbers" name="include_numbers" value="true">
        <br>
        <label for="include_symbols">Inclure des Symboles (optionnel):</label>
        <input type="checkbox" id="include_symbols" name="include_symbols" value="true">
        <br>
        <input type="submit" value="Générer">
    </form>

    {% if error_generate_password_message %}
        <p style="color: red;">{{ error_generate_password_message }}</p>
    {% else %}
        <p>Mot de passe généré : <strong>{{ password}}</strong></p>
    {% endif %}

    {% if request.path == '/generate-password' or request.path == '/generate-hash-password' %}
    <hr>
    <h2>Voulez-vous hasher le mot de passe ?</h2>
    <form action="/generate-hash-password" method="post">
        <label for="include_hash">Choisissez l'algorithme de hashage</label>
        <select id="include_hash" name="include_hash">
            <option value="md5">MD5</option>
            <option value="sha256">SHA-256</option>
        </select>
        <input type="hidden" name="generated_password" value="{{ password }}">
        <br>
        <input type="submit" value="Générer">
    </form>
    {% endif %}
    
    {% if request.path == '/generate-hash-password' and not error_password_hashed_message %}
        <p>Mot de passe généré : <strong>{{ password_hashed }}</strong></p>
    {% endif %}
    
    {% if request.path == '/generate-hash-password' and error_password_hashed_message %}
        <p style="color: red;">{{ error_password_hashed_message }}</p>
    {% endif %}

</body>
</html>